<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishom.jlatexmath">

    <application>

        <provider
            android:name=".JLatexMathInitProvider"
            android:authorities="${applicationId}.jlatexmathinitprovider"
            android:exported="false" />

    </application>

</manifest>